.search{
	padding: 50px 50px 40px;
	input{
		display: block;
		outline: none;
		padding: 10px 20px;
		width: 100%;
		border-top: none;
		border-right: none;
		border-bottom: 5px solid #fc7e95;
		border-left: none;
		font-size: 50px;
		text-align: center;
	}
}

.ui-nav{
	text-align: center;
	li{
		background: #fc7e95;
	}
	a{
		display: block;
		padding: 5px 10px;
		text-decoration: none;
		color: white;
	}
}

.ui-btn{
	padding: 10px 20px;
	text-align: center;
	color: white;
	cursor: pointer;
	&.save{
		background: #96dcff;
	}
	&.delete{
		background: #fc7e95;
	}
}